{% load static %}
<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Acceso Staff</title>
  <link rel="stylesheet" href="{% static 'css/theme_panel_admin.css' %}">
</head>
<body>
  <div class="card">
    <h1 class="text-2xl font-bold mb-6 text-center">Acceso Staff</h1>

    {% if messages %}
      {% for m in messages %}
        <div class="alert 
          {% if m.tags == 'success' %}alert-success
          {% elif m.tags == 'warning' %}alert-warning
          {% elif m.tags == 'error' %}alert-danger
          {% else %}alert-info{% endif %}">
          {{ m }}
        </div>
      {% endfor %}
    {% endif %}

    <form method="post">
      {% csrf_token %}
      {{ form.non_field_errors }}
      {{ form.usuario_o_dni.errors }}
      <input type="text" name="usuario_o_dni" placeholder="Usuario o DNI" class="form-input">

      {{ form.password.errors }}
      <input type="password" name="password" placeholder="Contraseña" class="form-input">

      <button type="submit" class="btn">Ingresar</button>
    </form>
  </div>
</body>
</html>
